{{ partial "header.html" . }}

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header class="pic-overlay">
								<h2 class="alt">Welcome to the website of our group, <strong>Apollo</strong>.</h2>

							</header>

							<footer>
								<a href="https://bitbucket.org/evertheylen/stride-apollo/" class="button scrolly">BitBucket</a>
								<a href="https://github.com/stride-apollo/stride" class="button scrolly">Github</a>
<!-- 								<a href="#" class="button scrolly">Docs</a> -->
								<a href="https://travis-ci.org/Stride-Apollo/Stride/branches" class="button scrolly">Travis CI</a>
							</footer>

						</div>
					</section>

				<!-- About Us -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Us</h2>
							</header>

							<p>The name of this project is based on the mythical ancient Greek
							god Apollo. Apollo is mainly known as the god of the younglings, arts
							and light. He is lesser known as the god of the plague and epidemics,
							which he brought upon the people by shooting poisoned arrows from his
							famous bow. Contradictory, Apollo is also the god of the healing arts
							and medicine, like his son Aesclepius. It is for this reason that we have
							chosen to call ourselves Apollo. We also hope to be as successful as 
							the NASA project of the same name.</p>

							<div class="authors">
								{{ range .Site.Params.authors }} 
								<article class="item">
									<img src="{{ .source }}" class="image fit" alt="{{ .alt }}" />
									<header>
									<h2>{{ .title }}</h2>
									<p>{{ .description | markdownify }}</p>
									</header>
								</article>
								{{ end }}
							</div>

						</div>
					</section>

				<!-- Blog -->
					<section id="blog" class="three">
						<div class="container">

							<header>
								<h2>Blog</h2>
							</header>

							{{ range .Site.Pages }} {{ if eq .Section "post" }}
							<a class="article-summary" href="{{ .Permalink }}">
								<div>
									<time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
									<h3>{{ .Title }}</h3>
								</div>
								<p>{{ .Summary }}</p>
							</a>
							{{ end }} {{ end }}
						</div>
					</section>

			</div>

{{ partial "footer.html" . }}
